#logo-holder {
    font-family: Anonymous Pro;
    color: lawngreen;
    background-color: black;
    text-align: center;
    height: 143px;
}
#secret-test {
   color: black;
   border: none;
   background-color: black;
    
}    
html {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
#virbos-logo {
    position: relative;
    top: 30px;
}
a {
    color: lawngreen;
}
#get-button {
    font-family: Anonymous Pro;
    color: lawngreen;
    background-color: black;
    font-size:xx-large;
    border: none;
    cursor: pointer;
    
}
#home-button {
    font-family: Anonymous Pro;
    color: lawngreen;
    background-color: black;
    font-size:xx-large;
    border-color: lawngreen;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 112px;
    left: 350px;
}
#border {
    border: 5px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style:solid;
    border-color: lawngreen;
    position: relative;
    height: 45px;
}
#welcome-text {
    position: relative;
    padding: -10px;
    height: 45px;
    font-family: Ioskeva;
    color: white;
    text-align: center;
    border: none;
    bottom: 50px;    

}


@font-face {
    font-family: Anonymous Pro;
    src: url('font.ttf');
}   

@font-face {
    font-family: Ioskeva;
    src: url('font2.ttf')
}
