#logo-holder {
    font-family: Anonymous Pro;
    color: lawngreen;
    background-color: black;
    text-align: center;
    height: 143px;
}
body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
#virbos-logo {
    position: relative;
    top: 30px;
}
a {
    color: lawngreen;
}
a:hover {
    color: rgb(41, 185, 41);
}

.green {
    color: lawngreen;
}

p {
    color: white;
    font-family: Anonymous Pro;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Iosevka;
    color: white;
}

#get-button {
    font-family: Anonymous Pro;
    color: lawngreen;
    background-color: black;
    font-size: 35px;
    border: none;
    cursor: pointer;
    
}
#border {
    border: 5px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style:solid;
    border-color: lawngreen;
    position: relative;
    height: 45px;
}

.headerlink {
    font-size: 30px;
    text-decoration: none;
}

#welcome-text {
    position: relative;
    padding: -10px;
    height: 45px;
    font-family: Iosevka;
    color: white;
    text-align: center;
    border: none;
    bottom: 50px;    

}
#buttons {
    text-align: center;
}
button {
    border: none;
    font-family: Iosevka;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 25px;
    margin: auto;
    border-style:solid;
    border-color: rgb(94, 94, 94);
}
button:hover {
    border-color: lawngreen;
}


@font-face {
    font-family: Anonymous Pro;
    src: url('../assets/fonts/AnonymousPro/Anonymous Pro.ttf');
}   

@font-face {
    font-family: Iosevka;
    src: url('../assets/fonts/Iosevka/Iosevka.ttf')
}
